[submodule "Pocket-ObjC-SDK"]
	path = Pocket-ObjC-SDK
	url = git://github.com/Pocket/Pocket-ObjC-SDK.git
	ignore = dirty
[submodule "Externals/DTCoreText"]
	path = Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
	ignore = dirty
